html{
  margin:0;
  padding:0;
  /*
  background: url(../images/fond.png) no-repeat center fixed;
  */
}

body{
  font-family: Verdana, sans-serif;
  font-size: 100%;
  background-size: cover;
  margin-left: 10%;
  margin-right: 10%;
}

.whos{
  color: #F4D03F;
  background-color: black;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40%;
  height: 40%;
  font-family:"LinLibertine_R";
  font-size: 250%;
  cursor: default;
}

.tout{
  color: white;
  background-color: black;
  margin-top: -10px;
  text-align: center;
  display: block;
}

.tout li{
  color: white;
  margin-left: 4%;
  margin-right: 4%;
  display:inline;
  text-align: center;
}

.tout li:hover{
  color: grey;
  margin-left: 4%;
  margin-right: 4%;
  display:inline;
  text-align: center;
}

.tout :visited{
  color: white;
  margin-left: 4%;
  margin-right: 4%;
  display:inline;
  text-align: center;
  text-decoration: none;
}

.tout:visited{
  color: grey;
  margin-left: 4%;
  margin-right: 4%;
  display:inline;
  text-align: center;
  text-decoration: none;
}

.daw, .gda, .ibm, .nav{
  cursor: pointer;
}

.onglets{
	list-style-type:none;
	overflow:hidden;
	margin:10px 0;
	padding:0;
}

.contain{
  margin: 5%;
  text-align: justify;
}

.intro_div, .daw_div, .gda_div, .ibm_div, .nav_div{
  background: white;
  color: black;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  height: 60%;
  text-align: center;
  cursor: default;
}

.content-section-a {
    padding: 30px 30px;
}

@media(max-width:767px){
  .content-section-a{
    padding: 50px 0;
  }
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 100%;
    border-top: 3px solid #e7e7e7;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

pre.prettyprint, code.prettyprint {
	font-size: medium;
	background-color: #000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
  text-align: left;
}

pre.prettyprint {
	width: 130%;
	margin: 1em auto;
	padding: 1em;
	white-space: pre-wrap;
}

ul.pull-right {
  font-size: 15px;
  margin: 7.5px -15px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  padding: 5px 15px 5px 25px;
  line-height: 20px;
}

@media (max-width: 767px) {
  ul.pull-right {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 5px 15px 5px 25px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  ul.pull-right {
    color: white;
    float: right;
    margin: 0;
  }
  ul.pull-right {
    float: right;
  }
  ul.pull-right  {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

ul.pull-right  {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-fixed-bottom ul.pull-right  {
  margin-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */
